// COLORS
$main-text-color: rgb(255, 255, 255);
$main-accent-color: rgb(252, 227, 138);
$section-main-color: rgb(51, 51, 51);
$section-text-color: rgb(153, 153, 153);
$section-underline-color: rgb(229, 229, 229);
$section-second-color: rgb(149, 225, 211);
$secondary-accent-color: rgb(243, 129, 129);
$input-text-color: rgb(204, 204, 204);


// FONT-FAMILY
$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$title-description-font: "Kaushan Script", cursive;
